<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Travel Dashboard</title>
</head>
<body>
    <h1>Travel Dashboard</h1>
    <h2><i>Where would you like to be?</i></h2>
    <form method="POST" action="/">
        <label><b>Country:</b></label>
        <select id="country" name="country" onchange="this.form.submit()">
            <option value="">Select a country</option>
            {% for country in countries %}
            <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
            {% endfor %}
        </select>
        <label><b>City:</b></label>
        <select id="city" name="city">
            <option value "">Select a City</option>
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form>
</body>
</html>