<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Travel Dashboard</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const btn = document.getElementById("submit_button")
            const frm = document.getElementById("travel_form")
            btn.addEventListener("click", () => {
                document.getElementById("travel_info").style.display = "block"
            })
            frm.addEventListener("submit", event => {
                event.preventDefault()
            })
        })
    </script>
</head>
<body>
    <h1>Travel Dashboard</h1>
    <h2><i>Where would you like to be?</i></h2>
    <form id="travel_form" method="POST" action="/">
        <label><b>Country:</b></label>
        <select id="country" name="country" onchange="this.form.submit()">
            <option value="">Select a country</option>
            {% for country in countries %}
            <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
            {% endfor %}
        </select>
        <label><b>City:</b></label>
        <select id="city" name="city">
            <option value "">Select a City</option>
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <button id="submit_button" type="submit" >Select</button>
        <div id="travel_info" style="display:none;">
            <h3>${city}, {{ selected_country }}</h3>
            <img src="{{ flag }}" ><br>
            <b>The exchange rate for {{ selected_country }} is {{ exchange_rate }} &nbsp {{ currency }}.</b><br>
            
        </div>
    </form>
</body>
</html>